body {
  background: #1c1919;
  color: white;
  text-align: center;
}

.board-row {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.bottom-row {
  padding-top: 10px;
}

.board-container {
  margin: auto;
  padding: 20px;
  height: auto;
  width: 300px;
  background: rgb(121 93 5);
  border-radius: 20px;
  box-shadow: 0px 0px 5px 6px rgb(121 93 5 / 35%);
  color: white;
}

.square {
  border: 0.5px solid rgb(234, 219, 219);
  height: 100px;
  width: 100px;
  display: flex;
  justify-content: center;
  align-items: center
}

.sqaureText {
  font-size: 80px;
  font-weight: 20;
}

.playerTurn {
  font-size: 25px;
  margin: 10px;
}

button {
  border: none;
  border-radius: 5px;
  color: white;
  background: #1c1919;
  box-shadow: 2px 2px 5px 0 #1c1919;
  padding: 5px;
  margin: 0 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}

.text {
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.409);
}